// $color-dark-gray: #333333;
$color-deep-gray: #333D44;
$color-mid-gray: #3E4A55;
$color-text-gray: #718490;
// $color-red: #EC3323;
$color-blue: #29ABE2;
// $color-light-gray: #F2F5F8;
$color-white: #fff;

$background: #E5E5E5;